<div>
    <h1 class="text-3xl form-bold mb-3">Form Thêm Sản Phẩm</h1>
    <form [formGroup]="addForm" (ngSubmit)="submitForm()" class="max-w-sm mx-auto p-4 border rounded">
        <div class="mb-3">
            <label class="block mb-1">Name</label>
            <input type="text" formControlName="name" class="w-full border px-2 py-1 rounded" />
            @if (name?.invalid && name?.touched) {
            <p style="color:red">Tên không được để chống</p>
            }
        </div>

        <div class="mb-3">
            <label class="block mb-1">Giá</label>
            <input type="number" formControlName="price" class="w-full border px-2 py-1 rounded" />
            @if (price?.invalid && price?.touched) {
            <p style="color:red">Giá không được để chống</p>
            }
        </div>
        <div class="mb-3">
            <label class="block mb-1">Author</label>
            <input type="text" formControlName="author" class="w-full border px-2 py-1 rounded" />
            @if (author?.invalid && author?.touched) {
            <p style="color:red">Tác giả không được để chống</p>
            }
        </div>
        <div class="mb-3">
            <label class="block mb-1">View</label>
            <input type="number" formControlName="views" class="w-full border px-2 py-1 rounded" />
            @if (views?.invalid && views?.touched) {
            <p style="color:red">Vieww không được để chống</p>
            }
        </div>

        <div class="mb-3">
            <label class="block mb-1">Danh Mục</label>
            <select formControlName="category" class="w-full border px-2 py-1 rounded">
                <option value="re">Rẻ</option>
                <option value="trungbinh">Trung Bình</option>
                <option value="dat">Đắt</option>
            </select>
            @if (category?.invalid && category?.touched) {
            <p style="color:red">Danh Mục không được để chống</p>
            }
        </div>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded" [disabled]="addForm.invalid">
            Thêm truyện
        </button>
        <div *ngIf="success" class="text-green-500">
            {{ success }}
        </div>

        <div *ngIf="error" class="text-red-500">
            {{ error }}
        </div>
    </form>

</div>


<!-- <div class="mt-5">
    <h1 class="text-3xl form-bold mb-3">Form Đăng Ký Tài Khoản</h1>
    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()" class="max-w-sm mx-auto p-4 border rounded">
        <div class="mb-3">
            <label class="block mb-1">Username</label>
            <input type="text" formControlName="username" class="w-full border px-2 py-1 rounded" />
            @if (username?.invalid && username?.touched) {
            <p style="color:red">Tên không được để chống</p>
            }
        </div>

        <div class="mb-3">
            <label class="block mb-1">Email</label>
            <input type="email" formControlName="email" class="w-full border px-2 py-1 rounded" />
            @if (email?.invalid && email?.touched) {
            <p style="color:red">Email không được để chống</p>
            }
        </div>

        <div class="mb-3">
            <label class="block mb-1">Password</label>
            <input type="password" formControlName="password" class="w-full border px-2 py-1 rounded" />
            @if (password?.touched && password?.errors) {
            @if (password?.errors?.['required']) {
            <p class="text-red-500">Mật khẩu không được để trống</p>
            }
            @if (password?.errors?.['minlength']) {
            <p class="text-red-500">Mật khẩu phải lớn hơn 6 ký tự</p>
            }
            }

        </div>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded" [disabled]="registerForm.invalid">
            Thêm truyện
        </button>
    </form>
</div>  -->